#DS Store files
.DS_Store

#SHTML files from BlueHost
*.shtml

#Ignore Project Test Folders
*00.*

#Ignores Boilerplate Files
core.html
core.js
core.css

#Ignores Working Project Files
*WebDev*

#Ignore Node Files
node_modules/

#Ignore Zip Files
*.zip

